.fundo-cinza {
    display: flex;
    height: 74.63vh;
    background-color: #E9E2EE;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Padding para evitar bordas */
    flex-direction: column; /* Layout em coluna para telas menores */
}

.splash-image,
.download-section {
    text-align: center; /* Centraliza o conteúdo nas telas pequenas */
    margin-bottom: 15px; /* Espaço entre elementos em telas pequenas */
}

.app-image {
    width: 80vw; /* Reduz imagem para telas pequenas */
    max-width: 180px; /* Limita o tamanho da imagem */
}

.download-section {
    width: 90vw; /* Largura para telas menores */
    max-width: 500px; /* Limite para telas maiores */
}

.download-section > h1 {
    font-family: LevenimBold;
    color: #413752;
    letter-spacing: 0.15px;
    margin: 0; /* Remove margem extra */
}

.download-section > p {
    font-family: Levenim;
    color: #413752;
    letter-spacing: 0.15px;
    margin: 10px 0; /* Espaçamento vertical */
}

.google-play-icon {
    width: 60vw; 
    max-width: 150px;
    margin-top: 15px;
}

/* Media Queries */
@media (min-width: 768px) { 
    .fundo-cinza {
        flex-direction: row; 
        padding: 40px;
    }

    .splash-image,
    .download-section {
        margin-bottom: 0; 
    }

    .app-image {
        width: 200px; 
    }

    .download-section {
        width: 50vw; 

    }

    .google-play-icon {
        width: 150px; 
    }
}