footer {
    background-color: #382469;
    height: 100%;
}

.logo-viajou {
    margin-top: 60px;
}

.footer-descricao {
    width: 300px;
    margin-left: 70px;
    color: rgba(142, 112, 214, 1);
    font-family: Levenim;
}

hr {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    border: 1px solid rgba(142, 112, 214, 1);
}

h4 {
    padding-bottom: 20px;
    font-family: Levenim;
    text-align: center;
    color: rgba(142, 112, 214, 1);
}

.footer-final {
    padding-top: 200px;
}

.footer-container {
    display: flex;
    justify-content: center;
}

.footer-links {
    width: 600px;
    margin-top: 100px;
    margin-left: 200px;
}

.footer-links > ul {
    display: flex;
    justify-content: space-around;
    list-style: none; 
}

.footer-links > ul > li {
    font-family: LevenimBold;
    color: #E9E2EE;
    font-size: 20px;
}

.sub-lista {
    margin-top: 5px;
    list-style: none;
    font-family: Levenim;
    font-size: 15px;
    color: rgba(142, 112, 214, 1);
}

.social-icon {
    width: 35px;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 140px;
    padding-top: 10px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-links > ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        list-style: none;
        align-items: center;
    }

    .social-icon {
        width: 35px;
    }

    .footer-links {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .footer-descricao {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .footer-descricao > p {
        display: none;
    }

    .footer-links > ul > li {
        margin: 10px 0 0 0;
    }

    .social-links {
        width: 100%; /* Ajusta a largura para ocupar 100% do contêiner */
        justify-content: space-evenly;
        padding: 20px 0; /* Adiciona padding superior e inferior para espaçamento */
    }
}

.logos {
    display: flex;
    margin: 0 0 20px 0;
}

.logo-systeam {
    width: 70px;
    margin-top: auto;
}

.sub-lista>li>a{
    text-decoration: none;
    color: rgba(142, 112, 214, 1);
}