.func {
    font-family: LevenimBold;
    text-align: center;
}

.funcionalidades {
    background-color: #E9E2EE;
    margin: 100px 0 0 0;
    padding: 60px 0;
    color: rgba(65, 55, 82, 1);
}

.funcionalidades > p {
    font-family: Levenim;
    text-align: center;
}

.titulo-funcionalidades{
    font-family: LevenimBold;
    text-align: center;
}

.container-blocos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bloco {
    background-color: #f9f1feb2;
    width: 100%;
    max-width: 300px;
    height: 240px;
    border-radius: 20px;
    font-family: Levenim;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.3s;
    margin: 20px;
}

.conteudo-funcionalidade>p{
    font-size: 13px;
}

.bloco:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.verde-agua:hover>.conteudo-funcionalidade>h3{
    color: #6EC9BF;
    transition: 0.5s;
}

.roxo-claro:hover>.conteudo-funcionalidade>h3{
    color: #8E70D6;
    transition: 0.5s;
}

.roxo-escuro:hover>.conteudo-funcionalidade>h3{
    color: #382469;
    transition: 0.5s;
}

.conteudo-funcionalidade > h3 {
    font-family: LevenimBold;
    margin-top: 10px;
}

.circulo {
    background-color: #E9E2EE;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verde-agua {
    border: 4px solid #6EC9BF;
    transition: 0.5s;
}

.roxo-claro {
    border: 4px solid #8E70D6;
    transition: 0.5s;
}

.roxo-escuro {
    border: 4px solid #382469;
    transition: 0.5s;
}


