@font-face {
    font-family: LevenimBold;
    src: url("/Fonte/levenim-mt-bold.ttf");
}

@font-face {
    font-family: Levenim;
    src: url("/Fonte/levenim-mt-2.ttf");
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(249, 241, 254, 1);
}

header {
    top: 0;
    position: sticky;
    background-color: rgba(249, 241, 254, 0.76);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-family: LevenimBold;
    height: 75px;
    padding: 0 20px;
    z-index: 10;
    transition: 1s;
}

h1 {
    color: #413752;
}

.navigation {
    margin-right: 80px;
    padding-top: 10px;
    width: 50%;
}

.navigation > ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #000;
    transition: 0.2s;
}

.nav-link:hover {
    color: rgba(142, 112, 214, 1);
    transition: 0.2s;
}

.login-button {
    border: none;
    margin-right: 20px;
    font-size: 18px;
    font-family: LevenimBold;
    cursor: pointer;
    background-color: #8E70D6;
    padding: 10px 25px;
    border-radius: 15px;
    text-decoration: none;
}

.login-button a {
    text-decoration: none;
    color: white;
}

.login-button img {
    display: none;
}

.logo {
    width: 120px;
    padding-left: 20px;
}

* {
    margin: 0;
    padding: 0;
}

.final {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .navigation > ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        background-color: rgba(249, 241, 254, 0.76);
        padding: 10px 0;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        align-items: center;
    }

    .menu-toggle {
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: #382469;
    }

    .navigation > ul.show {
        display: flex;
    }

    .navigation {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .logo {
        padding: 0;
    }

    .login-button a {
        display: none;
    }

    .login-button img {
        display: block;
        width: 33px;
    }

    .login-button {
        padding: 10px;
        width: auto;
        border: none;
        background-color: rgba(0, 0, 0, 0);
    }
}
