@font-face {
    font-family: LevenimBold;
    src: url("./Fonte/levenim-mt-bold.ttf");
}

@font-face {
    font-family: Levenim;
    src: url("./Fonte/levenim-mt-2.ttf");
}

.home-screen {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 200px;
    padding: 20px;
}

.header {
    font-family: LevenimBold;
    max-width: 50%; 
    margin: 60px 0 0 100px;
    flex: 1;
}

.header > .main-title {
    color: rgba(65, 55, 82, 1);
    font-size: 85px;
}

.header > h2 {
    color: #8E70D6;
}

.subtitle {
    color: gray;
    font-family: Levenim;
    width: 100%;
    max-width: 490px;
    margin-top: 20px;
}

.initial-image {
    width: 60%;
    max-width: 500px;
    margin: 60px 5vw 0 0;
}

.start-button {
    background-color: #8E70D6;
    color: white;
    padding: 10px;
    border-radius: 15px;
    width: 120px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
    font-family: LevenimBold;
    border: none;
    transition: 0.2s;
}

.start-button:active {
    background-color: #7960b5;
}

.start-button:hover {
    box-shadow: 0px 0px 15px rgba(142, 112, 214, 0.7);
    transition: 0.2s;
}


@media (max-width: 728px) {
    .home-screen {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
    }

    .header {
        max-width: 100%;
        margin: 20px 0;
        text-align: center;
    }

    .header > .main-title {
        font-size: 50px;
        margin-bottom: 20px;
    }

    .header > h2 {
        font-size: 25px;
    }

    .subtitle {
        font-size: 16px;
        width: auto;
        max-width: 100%;
        margin-left: 0;
    }

    .initial-image {
        width: 80%;
        max-width: 400px;
        margin-top: 20px;
    }

    .start-button {
        width: 160px;
        padding: 12px;
        font-size: 20px;
        margin-top: 30px;
    }
}
