.titulo-planos {
    color: rgba(65, 55, 82, 1);
    font-family: LevenimBold;
    text-align: center;
    margin: 15px;
    margin-top: 100px;
}

.secao-planos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.plano-gratis {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 550px;
    border-radius: 37px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    margin: 25px;
}

.plano-gratis > img {
    width: 302px;
    margin-bottom: 25px;
}

.plano-gratis > p {
    text-align: center;
    font-family: Levenim;
    margin-top: 6px;
    width: 230px;
}

.descricao-gratis {
    display: flex;
    align-items: center;
    color: rgba(56, 36, 105, 1);
}

.linha-preco {
    height: 50px;
    width: 0px;
    border: 2px solid rgba(56, 36, 105, 1);
    margin-right: 10px;
}

.descricao-gratis > h2,
.descricao-gratis > h3,
.descricao-gratis > p {
    font-family: LevenimBold;
    text-align: center;
}

.descricao-gratis > h3 {
    font-size: 35px;
}

.plano-team {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 550px;
    border-radius: 37px;
    margin: 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.plano-team > img {
    width: 302px;
    margin-bottom: 25px;
}

.descricao-team {
    display: flex;
    align-items: center;
    color: rgba(56, 36, 105, 1);
}

.descricao-team > h2,
.descricao-team > h3,
.descricao-team > p {
    font-family: LevenimBold;
    text-align: center;
}

.descricao-team > h3 {
    font-size: 35px;
    margin-right: 20px;
}

.descricao-team > h3 > span {
    font-size: 20px;
    vertical-align: top;
}

.plano-team > p {
    font-family: Levenim;
    text-align: center;
    margin-top: 6px;
    width: 255px;
}

