.fundo {
    display: flex; /* Corrigido para centralizar o conteúdo */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin: 0 2vw;
    width: 20vw;
}

.formulario {
    display: flex; /* Alinha os formulários lado a lado */
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    text-align: center;
    font-family: LevenimBold;
}

.campo {
    display: flex; /* Alinha label e input em linha */
    flex-direction: column; /* Coloca o label acima do input */
    margin-bottom: 15px; /* Espaçamento entre os campos */
}

label {
    color: #8b5cf6;
    font-size: 14px;
    margin-bottom: 5px;
    font-family: LevenimBold, sans-serif;
}

.entrada {
    border: 2px solid #d1d5db;
    border-radius: 10px;
    font-size: 14px;
    transition: border-color 0.3s ease;
    width: 98%; /* Faz o input ocupar toda a largura disponível */
    padding: 0.6rem;
}

.entrada:focus {
    outline: none;
    border-color: #8b5cf6;
}


input[type="submit"],
button{
    background-color: #805CD8;
    color: white;
    border: none;
    padding: 0.6rem;
    border-radius: 5px;
    width: 10vw;
    font-family: LevenimBold, sans-serif;
    font-size: 1rem;
    margin: 0 auto;
    cursor: pointer;
}

button,
a{
    font-family: LevenimBold, serif;
    font-size: 1rem;
    color: white;
}

input[type="submit"]:hover,
button:hover{
    background-color: #8E70D6;
}

input[type="submit"]:active,
button:active{
    color: rgb(218, 155, 255);
}


.botoes {
    display: flex;
    justify-content: center;
    gap: 30px; /* Espaçamento entre os botões */

}

