@font-face {
    font-family: LevenimBold;
    src: url("../Fonte/levenim-mt-bold.ttf");
}

@font-face {
    font-family: Levenim;
    src: url("../Fonte/levenim-mt-2.ttf");
}

*{
    padding: 0;
    margin: 0;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    font-family: LevenimBold;
    margin: 0;
    text-align: center;
    color: #413752;
}

p{
    font-family: Levenim;
    margin: 0;
}

img{
    width: 20vw;
    min-width: 200px;
}

